@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/plus-jakarta-sans?styles=169556');

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: white;
  color: #333;
  scroll-behavior: smooth;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;   
  gap: 10px;             
  padding: 5px 0;    
  width: 40px;   
  height: 40px;    
}

.logo img {
  width: 45px;           
  height: 45px;
  object-fit: cover;
}

.logo h1 {
  font-family: 'Kanit', sans-serif;
  color: #0B8043;
  font-size: 22.5px;
  margin: 0;             
}

nav a {
  text-decoration: none;
  font-size: 1.05rem;
  color: #444;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif;
}

nav a:hover{
  color: #FFC107;
}

nav a.active {
  color: #0B8043;
  padding: 8px 16px;
  border-radius: 8px;
}

.btn-nav {
  background-color: #0B8043;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 10px; 
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 3%;     
  }

  nav a {
    font-size: 0.95rem;   
    margin: 0 10px;
  }

  .btn-nav {
    padding: 6px 12px;   
    font-size: 0.9rem;
  }
}


/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 7%;
  position: relative;
  overflow: hidden;
  color: white;
  padding-bottom: 150px;
  background-image: url('logo/bg.png'); 
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;
}

@media (max-width: 768px) {
  .hero {
    background-size: cover;
    background-position: top center;
  }
}


.hero-text {
  max-width: 50%;
  position: relative;
  z-index: 2;
}

.hero-text h2 {
  font-family: 'Konkhmer Sleokchher', sans-serif;
  letter-spacing: 2.25px;                                 
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.hero-text span {
  color: #FFF6C3;
}

.hero-text p {                                            
  font-size: 1.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  margin-top: 0px;
  max-width: 450px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2;
}

.btn-primary {
  background: #0B8043;
  color: white;
}

.btn-primary:hover {
  transform: scale(1.05);
  background: #FFC107;
  color:black;
}

.btn-secondary {
  color: white;
}

.btn-secondary:hover {
  color: #FFC107;
}

.wave {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

/* COURSE */
.course {
  background-color: #dcffc1;
  text-align: center;
  padding: 80px 5%; 
}

.course h3 {
  color: #0B8043;
  font-size: 2.25rem;
  font-family: 'Poppins', sans-serif;
}

.course-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.course-card {
  text-align: center;
  display: flex;              
  flex-direction: column;    
  justify-content: space-between;
  flex: 1 1 calc(25% - 20px); 
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 17px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  max-width: 300px;
}

.course-card p{
  text-align: justify;
  font-size: 12px;
  margin-top: -5px;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.btn-course {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2;
  background: #0B8043;
  color: white;
  align-self: center;
}

.btn-course:hover {
  transform: scale(1.05);
  background: #FFC107;
  color:black;
}

.course-card img {
  width: 80px;             
  height: 80px;            
  object-fit: contain;     
  margin: 0 auto 15px;    
  display: block;         
}

@media screen and (max-width: 1024px) {
  .course-card {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media screen and (max-width: 768px) {
  .course-card {
    flex: 1 1 100%;           
    max-width: none;
  }
}  

/* FOOTER */
footer {
  background: linear-gradient(180deg, #0B8043 0%, #245EAA 100%);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}