@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  position: relative;
  overflow-x: hidden;
  background-image: url('img/Purple\ Illustrative\ New\ Year\ Presentation\ \(1\).png'); 
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;
}

.container {
  max-width: 500px;
  width: 100%;
  background: #9dc8ff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: left;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Konkhmer Sleokchher', sans-serif;
  text-align: center;
  font-size: 27px;
  margin-bottom: 25px;
  color: rgb(2, 27, 82);
  letter-spacing: 2.25px;    
  line-height: 1.5;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
  color: black;
}

select {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease;
  background-color: #fff;
}

select:focus {
  border-color: #0B8043;
  outline: none;
  box-shadow: 0 0 5px rgba(11,128,67,0.4);
}

select:disabled {
  background-color: #e0e0e0;
  color: #888;
  cursor: not-allowed;
}